body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.box {
    background-color: grey;
    width: 70%;
    padding: 10px;
    border: 10px solid blueviolet;
}

.description {
    width: 70%;
}